<?xml version="1.0"?>
<robot name="tsdt" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="stand"/>
  </joint>

  <link name="stand">
    <visual>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/stand.STL" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/stand.STL" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0 " rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

  <joint name="joint0" type="fixed">
    <origin xyz="0 0 0.82" rpy="0 0 0"/>
    <parent link="stand"/>
    <child link="leg1"/>
  </joint>

  <!--joint name="joint0" type="prismatic">
    <origin xyz="0 0 0.82" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="stand"/>
    <child link="leg1"/>
    <limit lower="-0.738" upper="0.098" effort="100" velocity="1.0" />
  </joint-->

  <link name="leg1">
    <visual>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/leg1.STL" />
      </geometry>
      <origin xyz="0 0 -0.82" rpy="0 0 0"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/leg1.STL" />
      </geometry>
      <origin xyz="0 0 -0.82" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0 " rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>


  <joint name="joint1" type="continuous">
    <origin xyz="0 0.043 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <parent link="leg1"/>
    <child link="leg2"/>
  </joint>

  <link name="leg2">
    <visual>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/leg2.STL" />
      </geometry>
      <origin xyz="0 -0.043 -0.82" rpy="0 0 0"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/leg2.STL" />
      </geometry>
      <origin xyz="0 -0.043 -0.82" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0 " rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

  <joint name="joint2" type="continuous">
    <origin xyz="0 0.097 -0.16" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <parent link="leg2"/>
    <child link="leg3"/>
  </joint>

  <link name="leg3">
    <visual>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/leg3.STL" />
      </geometry>
      <origin xyz="0 -0.14 -0.66" rpy="0 0 0"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tsdt_description/meshes/leg2.STL" />
      </geometry>
      <origin xyz="0 -0.14 -0.66" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0 " rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

  <joint name="joint3" type="fixed">
    <origin xyz="0 0 -0.16" rpy="0 0 0"/>
    <parent link="leg3"/>
    <child link="leg4"/>
  </joint>


  <link name="leg4"/>

</robot>
